
body{
    overflow-x: hidden;
}
@font-face

{
    font-family: TRAHO2;
    src:url(../fonts/TRAHO2-Regular.ttf);
}


/* header section */
header{
    background-image: url(../images/header-bg.png);
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: center;
    height: 121px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    width: 34%;
    max-height: 120px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header nav ul li{
    width: 120px;
    padding-left: 50px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav img{
    min-height: 150px;
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.header_content{
    display: flex;
    height: 900px;
}

.header_content .opening_times{
    display: flex;
    width:20%;
    align-items: center;
    white-space: nowrap;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header_content .opening_times span{
   width: 100%;
   text-overflow: ellipsis;
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 18px;
   color: white;
    transform: rotate(270deg);
    letter-spacing: 3px;
}

.middle_container{
    position: relative;
    width: 60%;
    height:100%;
    text-align: center;
}

.middle_container h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: white;
    letter-spacing: 10px;
    padding-top: 280px;
    padding-left: 10px;
}

.middle_container h1{

    font-family: TRAHO2;
    color: white;
    font-size: 106px;
    padding-top: 20px;
    font-weight:200;
    letter-spacing: 10px;
}

.middle_container .line{
    position: relative;
    background: #E8C300;
    border-radius: 50px;
    width: 60px;
    height: 5px;
    margin: 30px auto 30px auto;
    z-index: 1;
}


.middle_container .header_button_one{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: white;
    background: #E8C300;
    border: 1px solid #E8C300;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    margin-right: 20px;
}

.middle_container .header_button_two{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    height: 60px;
    width: 200px;
    margin-left: 20px;
}

.middle_container i{
    position: absolute;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 10px;
    bottom: 180px;
    left:50%;
    transform: translate(-50%, -50%);
}

.first_half_middle_container{
    position: absolute;
    width: 50%;
    height: 100%;
}

.upper_boarder_container{
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 60%;
    width:100%;
    top:100px;
}

 .lower_boarder_container{
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 23%;
    top: 153px;
 }

.second_half_middle_container{
    position: absolute;
    width: 50%;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    left:50%;
}

.social_media_nav_container{
    position: relative;
    width:20%;
    height:100%;
    top:40%;
}

.social_media_nav_container nav{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.social_media_nav_container nav a{
    margin: 20px;
    width:30px;
    height: 30px;
    padding:20px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
}

/* ABOUT US Section */

.about_us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:800px;
}

.main_about_us_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:80%;
    width: 80%;
}

.main_about_us_container .text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    height: 100%;
    text-align: center;
    margin-right: 200px;
}

.main_about_us_container .text_container h1{
    font-family: TRAHO2;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
}

.main_about_us_container .text_container .line{
    position: relative;
    background: #E8C300;
    border-radius: 50px;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px auto;
    z-index: 1;
}

.main_about_us_container .text_container h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.main_about_us_container .text_container p{
    font-family: Open Sans;
    font-size: 14px;
    line-height: 28px;
    margin-top: 20px;
}

.main_about_us_container .image_container{
    position: relative;
    width: 475px;
    height: 475px;
    background-image: url(../images/about-img1Fixed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right:100px;
}

.main_about_us_container .image_container .yellow_box{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    top:50%;
    transform: translateY(-50%);
    left:72%;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 4;
}

/* OUR TEAM Section */

.our_team_container {
    position: relative;
    width:100%;
    height: 700px;
    background-image: url(../images/speciality2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.our_team_container .yellow_box{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    top:50%;
    transform: translateY(-50%);
    right:72%;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 4;
}


.our_team_container .main_our_team_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.our_team_container h2{
    position: absolute;
    width: 100%;
    margin: 60px 55% 0px 45%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: white;
    letter-spacing: 10px;
}

.our_team_container .image_container {
    position: relative;
    width:475px;
    height: 475px;
    background-image: url(../images/Rectangle8fixed.png);
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 1;
}

.our_team_container .text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    height: 80%;
    margin-left: 200px;
}
.our_team_container .text_container h1{
    font-family: TRAHO2;
    font-size: 36px;
    line-height: 48px;
    color: white;
    letter-spacing: 3px;
    text-align: center;
}

.our_team_container .text_container .line{
    position: relative;
    background: #E8C300;
    border-radius: 50px;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px auto;
    z-index: 1;
}

.our_team_container .text_container h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: white;
    text-align: center;
}

.our_team_container .text_container p{
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-top: 20px;
}

.our_team_container .first_for_line_container{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.our_team_container .second_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left:20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.our_team_container .third_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.our_team_container .fourth_for_line_container{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0px;
    left:80%;
}

/* BOOKING Section */

.booking_container{
    height: 650px;
    width: 100%;
}

.booking_container .flex_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking_container .form_container{
    position: relative;
    width:50%;
    text-align: center;
    margin-right: 200px;
}

.booking_container .form_container h1{
    font-family: TRAHO2;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.booking_container .form_container .line{
    position: relative;
    background: #E8C300;
    border-radius: 50px;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px auto;
    z-index: 1;
}

.booking_container .image_container{
    position: relative;
    width:475px;
    height: 475px;
    right: 200px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-image: url(../images/about-imgFixed.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.booking_container .image_container .yellow_box{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    top:50%;
    transform: translateY(-50%);
    left:72%;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 4;
}

.booking_container .form_container input{
    height:60px;
    background: #E5E5E5;
    border-radius: 5px;
    width:35%;
    border: none;
    margin: 5px;
}

.booking_container .form_container button{
    background: #E8C300;
    border-radius: 5px;
    width:72%;
    height: 60px;
    border: none;
    margin-top: 5px;
}

input[type=text]{
    font-family: Open Sans;
    font-style: normal;
    color: rgba(51, 51, 51, 0.5);
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-indent: 20px;
}

.booking_container .footer_booking_container{
    text-align: center;
}

.booking_container .footer_booking_container span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.6);
    border-radius: 5px;
}

/* SPECIALITIES Section */
.specialities_container {
    position: relative;
    width:100%;
    height: 800px;
    background-image: url(../images/speciality.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
}

.specialities_container .yellow_box{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    top:50%;
    transform: translateY(-50%);
    right:72%;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 4;
}


.specialities_container .main_specialities_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.specialities_container h2{
    position: absolute;
    width: 100%;
    margin: 60px 55% 0px 45%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: white;
    letter-spacing: 10px;
}

.specialities_container .image_container {
    position: relative;
    width:475px;
    height: 475px;
    left:70px;
    background-image: url(../images/Rectangle7fixed.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 1;
}

.specialities_container .text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    height: 80%;
    margin-left: 200px;

}
.specialities_container .text_container h1{
    font-family: TRAHO2;
    font-size: 36px;
    line-height: 48px;
    color: white;
    letter-spacing: 3px;
    text-align: center;
}

.specialities_container .text_container .line{
    position: relative;
    background: #E8C300;
    border-radius: 50px;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px auto;
    z-index: 1;
}

.specialities_container .text_container h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: white;
    text-align: center;
}

.specialities_container .text_container p{
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-top: 20px;
}

.specialities_container .first_for_line_container{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.specialities_container .second_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left:20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.specialities_container .third_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.specialities_container .fourth_for_line_container{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0px;
    left:80%;
}

.functional_dots_container{
    position: absolute;
    margin: 0 auto;
    bottom:10%;
    width: 100px;

}

.functional_dots_container .dot{
    height: 10px;
    width: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius:50px;
    float: left;
}

#middle_dot{
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
}

/* MENU Section */

.menu_container{
    width: 100%;
    height: 860px;
}

.menu_header_container{
    margin: 60px auto;
    width: 565px;

}

.menu_header_container h1{
    font-family: TRAHO2;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 3px;
}

.menu_header_container .line{
    position: relative;
    background: #E8C300;
    border-radius: 50px;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px auto;
    z-index: 1;
}

.menu_header_container h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.food_types_container  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    height:50px;

}

.food_types_container .food_item  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    height:100%;
    width:20%;
}

.food_types_container span {

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.food_types_container .food_item:last-child {
    border: none;
}

.main_menu_container{
    height: 480px;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.menu_first_column,.menu_second_column,.menu_third_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.main_menu_container .menu_item{
    height:100px;

}

.main_menu_container .menu_item h1{
    font-family: TRAHO2;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
}

.main_menu_container .menu_item p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.6);
    border-radius: 5px;
}

/* PRIVATE EVENTS Section */

.events_container {
    position: relative;
    width:100%;
    height: 800px;
    background-image: url(../images/speciality.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
}

.events_container h2 {
        position: absolute;
        width:232px;
        margin: 60px 50% 0px 50%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: white;
        letter-spacing: 10px;
        transform: translate(-50%);
       
}

.events_container .main_events_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.events_container .yellow_box_one{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    top:50%;
    transform: translateY(-50%);
    right:72%;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 4;
}
.events_container .yellow_box_two{
    position: absolute;
    width: 250px;
    height: 250px;
    top:50%;
    transform: translateY(-50%);
    left:72%;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 4;
}



.events_container .left_image_container{
    background-image: url(../images/Rectangle6fixed.png);
    position: relative;
    width:475px;
    right:3%;
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 1;
    
}

.events_container .left_image_container .left_side_text_container{
    position: relative;
    float: right;
    height:475px;
    width: 10%;
    background: #000000;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
}

.events_container .left_image_container .left_side_text_container span{
    font-family: TRAHO2;
    font-size: 24px;
    line-height: 12px;
    color: white;
    writing-mode: vertical-rl;
    padding-top: 30px;
    letter-spacing: 1px;

}

.events_container .right_image_container{
    background-image: url(../images/Rectangle5fixed.png);
    position: relative;
    width:475px;
    left:3%;
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 1;
    margin-left: 55px;

}

.events_container .right_image_container .right_side_text_container{
    position: relative;
    float: left;
    height:475px;
    width: 10%;
    background: #000000;
    border-radius: 0px 5px 5px 0px;
    transform: rotate(180deg);
    text-align: center;
}

.events_container .right_image_container .right_side_text_container span{
    font-family: TRAHO2;
    font-size: 24px;
    line-height: 12px;
    color: white;
    writing-mode: vertical-rl;
    padding-top: 30px;
    letter-spacing: 1px;
}

.events_container .first_for_line_container{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.events_container .second_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left:20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.events_container .third_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.events_container .fourth_for_line_container{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0px;
    left:80%;
}

.events_container .footer_events_container{
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.7);
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

/* GALERRY Section */

.galerry_container{
    display: flex;
}

.galerry_container .image_container{
    width: 25%;
    height: 475px;
    background-size: cover;
    background-repeat: no-repeat;
}
.galerry_container #image_one {
    background-image: url(../images/Rectangle3.png);
 
}

.galerry_container #image_two {
    background-image: url(../images/Rectangle2.png);
}

.galerry_container #image_three {
    background-image: url(../images/Rectangle1.png);
}

.galerry_container #image_four {
    background-image: url(../images/Rectangle4.png);
}